@page
@model IndexModel
@{
    ViewData["Title"] = "GameBox";
}

<h1 class="display-4 text-center">Компьютерный клуб "GameBox"</h1>
<p class="paragraph text-center">Компьютерный клуб "GameBox" приглашает к себе в гости истинных про-игроков и их верных тиммейтов</p>
<img class="img" src="~/img/gameboxlogo.png" width="1100" height="700" alt="Alternate Text" />
<h2 class="text-center">Новости клуба</h2>
<p class="paragraph"> 11.10.2021 прошёл турнир по Dota2 среди местных постояльцев клуба. В финале сыграли команды "Нагибаторы" и "Продотеры", в сложной битве со счетом 2-1 по результатам Best Of 3 одержала победу команда "Продотеры" и выиграла призовой фонд в размере 100 000 тенге! Приходите к нам в гости за жарким зрелищем и за лучшими компьютерами!</p>
<p class="paragraph">Будьте в курсе последних событий в киберспорте и ставьте на матчи с лучшими коэффициентами! Для этого <a target="_blank" href="https://parimatch.kz/ru/e-sports/">нажмите здесь.</a></p>
<p class="paragraph">Для бронирования свяжитесь с нами: <strong>+7 775 364 58 91</strong></p>
